.map {

}
body {
    background-color: green;
    margin: 0;
}
.row {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 47%;
}

.column {
    min-width: 70px;
    min-height: 70px;
   
}

#player {
    position: absolute;
    height: 70px;
    width: 70px;
    background-image: url("DKicon.jpg");
    left: 140px;
    top: 140px;
}
#container {
    position: relative;
}
.crate {
    width: 31px;
    height: 31px;
    margin: 1px;
   
    position: absolute;
    
  }
